
<%= form_for @user do |f|%>
  <%= f.label :username, "Username:"%>
  <%= f.text_field :username, value: "u3" %>
  <%= f.label :password, "Password:"%>
  <%= f.password_field :password%>
  <%= f.label :email, "Email:"%>
  <%= f.text_field :email, placeholder: "example@example.com"%>

  <%= f.submit "Update"%>
<%end%>

<% if @user_temp.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user_temp.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @user_temp.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>